body{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
}

    .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position:relative;
        z-index: 1;
        will-change: transform;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }

      .slideout-open .slideout-menu {
        display: block;
      }
      
      .toggle-button {
          float: left;
      }

h2 {
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   color: #000;
   margin: 0;
	padding: 0;
}

ul {
  list-style: none;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }


#header { 
	width: 100%; 
	background: url('../img/header-bg.png'); 
	height: 80px; 	
	position: fixed;
	margin-top: 30px;
}

#banner { color: #fff; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-weight: bold; }


#slide1, #slide3{ width: 100%; }
#slide0{
	background-color: #611;
	height: 110px;
	margin: 0;
	background-size: cover;
}

#slide1{
	background-color: #600;
	color: #FEB;
	height: 200px;
	margin: 0;
	padding: 50px 0 260px 0;
	background-size: cover;
}

#slide2{
	background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

#slide3{
	background-color: #FC3;
	color: #333333;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 75px 0 250px 0;
}

#slide4{
	background: url('../img/slide5.jpg') 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

#slide5{
	background-color: #036;
	color: #000;
	height: 200px;
	padding: 200px 0;
}


.left {
    float: left;
    width: 47%;
}

.right{
    float: right;
    width: 47%;
}

#slide1 .right {
    background-color: #FEB;
	color: #000;
    padding: 5px;
    height: 450px;
    margin-top: -30px;
}

#slide1 img {
    height: 460px;
    margin-top: -30px;
    margin-left: 55px;
}

#slide3 .left {
    background-color: #FEB;
	color: #000;
    padding: 5px;
    height: 425px;
    margin-top: -30px;
}

#slide3 img {
    height: 435px;
    width: 30em;
    margin-top: -30px;
}

#slide5 .center {
    width: 50%;
    background-color: #7887AB;
    padding: 15px;
}

#menu {
    background-color: #7887AB;
}