body{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}



/* Styling for Slideout Menu */
    
.slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      
.slideout-panel {
        position:relative;
        z-index: 1;
        will-change: transform;
      }

      
.slideout-open,
      
.slideout-open body,
      
.slideout-open 
.slideout-panel {
        overflow: hidden;
      }

      
.slideout-open 
.slideout-menu {
        display: block;
      }
      
      
.toggle-button {
          float: left;
      }


      
      
panel {
          width: 100%;
      }


h2 {
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   color: #000;
   margin: 0;
   padding: 0;
}


ul {
  list-style: none;
}

a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}


#header { 
	width: 100%; 
	background: url('../img/header-bg.png'); 
	height: 80px; 	
	position: fixed;
	margin-top: 30px;
}

#banner { color: #fff; float: left; font-size: 1.5em; margin-top: 20px; color: #fff; font-weight: bold; }


/* Styling for the Individual Slides */

.slide {
    z-index: 1;
}

#slide0 {
	background-color: #611;
	height: 25px;
	margin: 0;
	background-size: cover;
}

#slide1 {
	background-color: #600;
	color: #FEB;
	height: 700px;
	margin: 0;
	padding: 0px 0;
	background-size: cover;
  width: 100%;}


#slide1 .right {
    background-color: #FEB;
	color: #000;
    height: 450px;
    margin-top: -30px;
}


#slide1 p {
    font-size: 0.8em;
}

#slide1 img {
    height: 450px;
    margin-top: -30px;
    margin-left: 6%;
}

#slide2 {
	background: url('../img/slide3.jpg') 50% 0 no-repeat fixed;
	height: 450px;
	margin: 0 auto;
	color: #fff;
	background-size: 100%;
}

#slide3 {
	background-color: #FC3;
	color: #333333;
	height: 500px;
	margin: 0;
	background-size: cover;
    width: 100%;}


#slide3 .left {
    background-color: #FEB;
	color: #000;
    height: 450px;
}

#slide3 img {
    height: 450px;
    
}

#slide4 {
	background: url('../img/slide5.jpg') 50% 0 no-repeat fixed;
	height: 450px;
	margin: 0 auto;
	padding: 5px 0;
	color: #fff;
	background-size: 100%;
}



#slide5 {
	background-color: #036;
	color: #FFF; 
	height: 500px;
	margin: 0;
	background-size: cover;
   width: 100%;}


#slide5 img {
    height: 400px;
    width: 30em;
   padding-top:30px; }


#slide5 .right {
    background-color: #7887AB;
	color: #000;
    padding: 5px;
    height: 450px;
}

#slide6 {
	height: 25px;
    padding-top: 5px;
	background-color: #036;
}

 .left {
    float: left;
    width: 100%;
}

.right{
    float: right;
    width: 100%;
}

#buffer1 {
	height: 0px;
	margin: 0 auto;
	background-size: 100%;
}

#buffer2 {
	height: 0px;
	margin: 0 auto;
	padding: 5px 0;
	color: #fff;
	background-size: 100%;
}

#menu {
    background-color: #7887AB;
}


/* Styling for Share Buttons */


#resume-btn {
    background-color: #000;
    color: #fff
}


.fb-share-button {
  height: 15px;
  float: left;
  background-position-y: -251px;
  background-position-x: -1px;
  border-bottom: 1px solid #1a356e;
   }
 
.fb-share-button_Text {
  font-size: 8px ;
  height: 9px;
    }

.fb_share_count .fb_share_count_right {
float: left;
 }
 
 
