<% if @recipes.blank? %>
<p>There are not any recipes currently in the system.</p>
<% else %>
<h3>Current Hummus Recipes</h3>

	<ul id = "recipes">
	   <% @recipes.each do |c| %>
	    
	 <li>
	   <b> <%= link_to c.name, {:action => 'show', :id => c.id, :imageId => c.imageId} -%></b>
	 </li>
 
	   <% end %> 
	</ul> 

<% end %>




