<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv = "Content-Language" content = "en-us" />
		<title>Hummus</title>
		    <%= stylesheet_link_tag 'application.css' %>
		    <%= javascript_include_tag 'application.js' %>  
	</head>
	<body id = "recipe">
      <div id = "container">
         
         <div id = "header">
            <h1>Homemade Hummus Recipes</h1>
           
         </div>

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "sidebar"></div>
       <br />
       <br />
       <br />  
       <p>Powered by Ruby on Rails</p>
      </div>
   </body>
</html>

